*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background: url(img/bg.png) no-repeat 50% 0 #f9f9f9;
	font:14px/1.67 Arial, Helvetica, sans-serif ;
	padding:55px 0;
}

.wrapper{
	width:960px;
	margin: 0 auto;

}


header{

	background: #ffffff;
	height: 172px;

}

header h1{
	float: left;
	margin: 30px 15px 0;
}

nav{
	float: left;
	clear: left;
}

nav li{
	float: left;
	margin: 120px 40px 9px 0;
}